<!DOCTYPE html>

<html>
<head lang="en">
    <title>メモリ注文</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="../static/css/style1.css" rel="stylesheet" media="screen" />
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <!--    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" />-->
    <!--    <link href="../static/css/style1.css" rel="stylesheet" media="screen" />-->

</head>
<!--<script src="/js/jquery-3.4.1.min.js"></script>-->
<body>

<div class="container">
    <form name="form" method="post" action="/TPNUA2">
        <div align="right" class="times"><span>日付</span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="times"></span></div><br />
        <div><span class="tittle">＜＜</span><span class="tittleValue">メモリー注文</span><span class="tittle">＞＞</span>
            <img src="../static/images/topLine.jpg" /></div><br />
        <div>
            <table class="table1" width="100%">
                <tr>
                    <th width="25%">営業店名</th>
                    <th width="30%">製品名</th>
                    <th width="15%">単価</th>
                    <th width="15%">在庫数</th>
                    <th width="15%">注文数</th>
                </tr>
                <!--                <tr>-->
                <!--                    <td><input type="text" autocomplete="off" class="tableText" id="number" oninput="value=value.replace(/[^\d]/g,'0').substr(0,1)" maxlength="1" onkeydown="if(event.keyCode==13){event.keyCode=0;event.returnValue=false;}" name="IN_STR[0].IN_ORDER" value="0" /></td>-->
                <!--                </tr>-->

            </table>
            <br /><br />
            <div><div class="bottomText">次処理⇒　１：注文確定 ２：注文中断<input class="input2" type="text" value="1" autocomplete="off" id="choose3" name="number" onkeydown="if(event.keyCode==13){event.keyCode=0;event.returnValue=false;}" /></div><div class="bottomSubmit"><input type="button" id="check" value="送信" /></div></div>
            <input type="button" value="Cancel" onclick="document.form.IN_CONTINUE.value='0';document.form.submit();" style="display:none" onkeydown="if(event.keyCode==13){event.keyCode=0;event.returnValue=false;}" />
            <input type="submit" value="Next" style="display:none" onkeydown="if(event.keyCode==13){event.keyCode=0;event.returnValue=false;}" />
            <input type="hidden" name="TRNS_NAME" value="0000001" />
            <input type="hidden" name="IN_TRNM" value="TRNUA3" />
            <input type="hidden" name="IN_CONTINUE" value="1" />
            <input type="hidden" name="TRNS_STATUS" value="01" />
        </div>
    </form>
</div>
<script type="text/javascript">
    window.onload = function()
    {
<!--        document.getElementById("number").select();-->
    }
    var trLength = $('tr').length-1;
    for(var i=0;trLength>i;i++){
      var stock = $('table tr').find('td:eq(3)')[i].innerHTML;
      if(stock.replace(/\s/g,'')!=""){
        while(3>stock.replace(/\s/g,'').length){
          stock="0"+stock.replace(/\s/g,'');
           }
        }
      $('table tr').find('td:eq(3)')[i].innerHTML = stock;
    }
    var date = new Date();
    var yyyy = date.getFullYear();
    var mm = date.getMonth() + 1;
    var dd = date.getDate();
    var yy = yyyy-2018;
    if(10 > mm){
      mm = "0" + mm;
    }
    if(10 > dd){
      dd = "0" + dd;
    }
    if(10 > yy){
      yy = "0" + yy;
    }
      document.getElementById("times").innerHTML =  yy+"."+mm+"."+dd;
<!--      $("#check").click(function(){-->
<!--          if($("#choose3").val() == "2"){-->
<!--            $("input[value='Cancel']").click();-->
<!--          }else if($("#choose3").val() == "1"){-->
<!--            $("input[type='submit']").click();-->
<!--          }else{-->
<!--            $("#choose3").val("!");-->
<!--          }-->
<!--        });-->


<!--**********************-->



<!--var cc = $.getUrlParam("id")-->
<!--    console.log(cc)-->
<!--var cc = this.context.getParam("id")-->
<!-- console.log(cc)-->

var url = location.search;
arr = url.split("=");
var id = arr[1]
console.log(id)

$.ajax({
        url:"/memoryPage",
        data:{
        number:id
        },
        success: function(data){
            console.log(data)

            for(i=0;i<data.length;i++){

var $tr = $("<tr>"+
"<td>"+data[i].storeName+"</td>"+
"<td>"+data[i].productVersion+"</td>"+
"<td>"+data[i].productPrice+"</td>"+
"<td>"+data[i].productInNum+"</td>"+
"<td>"+"<input type='text' placeholder='0' style='color:#FF0000'>"+"</td>"+
"</tr>");
//var $table = $(".table1");
$('.table1').append($tr);
               }
        }

        })



<!--**********************-->

  </script>
</body>
</html>
