<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap 模板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="col-md-3"></div>
<div class="col-md-6">
<table class="table table-striped  ">
    <tr>
        <th data-field="id">番号</th>
        <th data-field="storeName">店名</th>
        <th data-field="storeManager">氏名</th>
    </tr>
    <tr>
        <td>1</td>
        <td>aa</td>
        <td>bb</td>
    </tr>

</table>
</div>
<div class="col-md-3"></div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>



</script>
</body>
</html>
